html,
body {
    height: 100%; /* for firefox, otherwise background repeats */
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: linear-gradient(150deg, rgb(175, 215, 236), rgb(255, 255, 255));
}

header {
    padding: 6px;
}

main {
    padding: 6px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 24px;

    text-align: center;
    padding: 3px;
    background-color: rgb(5, 85, 109);
    color: #ffffff;
}